[Unit]
Description=Service to grow data partition size
DefaultDependencies=no
Before=data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/yes | /usr/sbin/parted -a optimal /dev/mmcblk0 ---pretend-input-tty resizepart 4 100%

[Install]
WantedBy=data.mount
