[Unit]
Description=Service to grow data partition size
DefaultDependencies=no
Before=app.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/parted /dev/mmcblk0 resizepart 5 100%

[Install]
WantedBy=app.mount
