[Unit]
Description=Alltesta Initialization Script
Wants=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/alltesta-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
